/*all the styles for the uCircle component*/

$circle-size: 26px;
$circle-margins: 2px 6px;

.u-circle {
    display: inline-block;
    height: $circle-size;
    width: $circle-size;
    margin: $circle-margins;
    line-height: $circle-size;
    text-align: center;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 0.8rem;
    background: transparent;
    color: $theme-foreground-font-color;

    &.active {
        background-color: $theme-primary-background-color;
        color: $theme-primary-font-color
    }

    &:not(.active) {
        border-width: $border-size;
        border-style: solid;
        border-color: $theme-borders-color;
        line-height: $circle-size - $border-size * 2; /*because the total size has to be equal to the active one*/
    }

    &[role="button"] {
        @extend %heart-beat-border-animation;
        cursor: pointer;
    }
}
