/*all the styles for the uLabel component*/

$top-label-wrapper: $modal-header-height - $normal-padding;
$right-label-wrapper: $normal-padding - $label-width;

.labels-wrapper {
  .label {
    border: 1px solid #fec316;
    border-radius: 0px 10px 10px 0;
    height: $u-label-height;
    line-height: $u-label-height/2;
    width: $label-width;
    text-transform: uppercase;
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    padding-right: 6px;
    padding-left: 13px;
    color: black;
    background-color: $u-label-color;
    font-weight: 500;
    word-break: break-word;
  }
}

.u-modal .labels-wrapper {
  position: fixed;
  top: calc(10% + #{$top-label-wrapper});
  right: calc(10% + #{$right-label-wrapper});
  z-index: 2;
}

.labels-wrapper .label {
  display: block;
  margin-bottom: 12px;
}

//the mobile responsible style
@media screen and (max-width: 800px) {
  .labels-wrapper .label {
    display: inline-block;
  }

  .u-modal .labels-wrapper {
    position: initial;
    margin-top: 30px;
    margin-bottom: 60px;
  }
}