/*all the styles for the uTable component*/

$header-row-height: 40px;
$body-row-height: 70px;

.u-table {
  @extend %shadowed-box;

  display: table;
  width: 100%;
  border-collapse: collapse;
  background-color: $theme-foreground-background-color;

  .u-table-row {
    display: table-row;

    .u-table-cell {
      display: table-cell;
      min-width: 120px;
      padding-left: $normal-padding;
      padding-right: $normal-padding;
    }

    &.u-table-body {
      height: $body-row-height;
      font-weight: 400;

      &:not(:last-child) {
        border-bottom: $thin-border-size solid $theme-thin-borders-color;
      }

      .u-table-cell {
        padding-top: $normal-padding;
        padding-bottom: $normal-padding;
      }
    }

    &.u-table-header {
      background-color: $theme-foreground-background-color;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.9rem;
      height: $header-row-height;

      .u-table-cell {
        line-height: $header-row-height;
      }
    }
  }
}

.u-table-cell-label {
  font-weight: 500;
  display: none;
}

.u-table-filters {
  padding: 18px 0;
}


//the mobile responsible style
@media screen and (max-width: 800px) {
  .u-table {
    text-align: center;
    display: block;
    .u-table-row {
      display: block;

      &.u-table-body {
        height: auto;
      }
      &.u-table-header {
        display: none;
      }
      .u-table-cell {
        display: block;
      }
    }
  }
  .u-table-cell-label {
    display: block;
  }
}