/*here the reusable animations*/

/*this will show and hide a double arrow on the right. The element must contain a span*/
%goToAnimation{
  & {
    padding: 20px;
    transition: all 0.5s;
  }

  & span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  & span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  &:hover span {
    padding-right: 25px;
  }

  &:hover span:after {
    opacity: 1;
    right: 0;
  }
}