/*here only variables*/

/*colors used in the styles*/
$theme-background-color: #ecf1f5;

$theme-foreground-background-color: #fff;
$theme-foreground-font-color: #000;

$theme-primary-background-color: #00a5c9;
$theme-primary-font-color: #fff;

$primary-color: #00a4cb;
$dark-color: #2a484f;

$theme-borders-color: #b4b4b4;
$theme-medium-thin-borders-color: rgba(191, 191, 191, 0.51);
$theme-thin-borders-color: rgba(203, 203, 203, 0.51);
$theme-shadows-color: rgba(107, 107, 107, 0.15);

$u-label-color: #fec316;

/*font sizes*/
$font-size: 16px;

/*border sizes*/
$border-size: 1px;
$thin-border-size: 0.5px;

/*heights*/
$navbar-height: 47px;
$modal-header-height: 65px;
$u-label-height: 50px;

/*widths*/
$label-width: 86px;

/*paddings*/
$normal-padding: 15px;
